.Editor {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.codemirror {
  width: 100%;
  height: 100%;
}

.codemirror :global(.cm-editor) {
  width: 100%;
  height: 100%;
}

.codemirror :global(.cm-editor.cm-focused) {
  outline: none;
}

.codemirror :global(.cm-gutters) {
  background-color: transparent !important;
}
