.Editor {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.Editor > :global(.monaco-editor) {
  width: 100% !important;
  height: 100% !important;
}

.Editor > :global(.monaco-editor .margin) {
  background-color: transparent !important;
}
